/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: white;
  font-family: 'GothamPro';
  font-size: 0.9rem;
  font-weight: 300;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
/* Utility */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Wrapper */
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Main site */
#site_content {
    height: calc(100% - 60px);
}

/* Sidebar */
#main_menu {
  background-color: black;
  width: 300px;
  min-width: 300px;
  flex-flow: column;
  justify-content: space-between;
}

.logo {
  padding: 15px;
}

.logo img {
  width: 70%;
}

.main_top a, .main_bottom a {
  width: fit-content;
}

.main_top li img {
  width: 30px;
}

.main_top li a {
  color: white;
  display: flex;
  align-items: center;
}
/* /main top */

.home {
  margin: 30px 0;
}

.home li a {
  padding-left: 15px;
  height: 45px;
}

.home li:hover {
  border-left: 3px solid greenyellow;
}

.home span {
  margin-left: 10px;
}
/* home */
.playlist h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 15px;
}

.create_playlist, .name_playlist {
  margin-left: 15px;
}

.create_playlist .fas {
  font-size: 40px;
  color: white;
}

.create_playlist a {
  display: flex;
  align-items: center;
}

.create_playlist span {
  color: white;
  margin-left: 10px;
  font-size: 1rem;
}

.name_playlist ul li {
  margin: 20px 0;
}
/* /playlist */
.main_bottom {
  padding: 15px 15px 0;
}

.installa a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.installa img {
  height: 15px;
  margin-right: 10px;
}

.username {
   border-top: 1px solid grey;
   padding: 15px 15px 10px 0;
}

.username a {
  display: flex;
  align-items: center;
}

.username span {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.username img {
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
}
/* /main bottom */

/* Covers */
.covers_section {
    background-color: aquamarine;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 60px;
    width: calc(100% - 300px);
}

/* Subscribe */
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 300px);
    background-color: #8a2be2a1;
}

/* Recently */
.item {
    width: 200px;
    height: 200px;
    background-color: red;
}

/* Site footer */
#site_footer {
    background-color: yellowgreen;
    height: 60px;
}
