/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
/* Utility */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

body {
    background-color: #333;
    color: white;
}

/* Wrapper */
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Main site */
#site_content {
    height: calc(100% - 60px);
}

/* Sidebar */
.main_menu {
    background-color: black;
    width: 300px;
    min-width: 300px;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-bottom {

}



/* Covers */
.covers_section {
    background-color: aquamarine;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 60px;
    width: calc(100% - 300px);
}

/* Subscribe */
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 300px);
    background-color: #8a2be2a1;
}

/* Recently */
.item {
    width: 200px;
    height: 200px;
    background-color: red;
}

/* Site footer */
#site_footer {
    background-color: yellowgreen;
    height: 60px;
}
